/* Código geral */
.formLink {
    color: dodgerblue;
}

.listIcon {
    transition: background .3s;
}

.alertAnimation {
    animation: alertAnimation linear infinite;
    animation-duration: 1.5s;
}

/* Código responsável pela responsividade do site */
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }    

    .formBox {
        background: none !important;
    }

    .listItem {
        font-size: 8pt;
    }
}

@media screen and (min-width: 768px) and (max-width : 1023px){
    .container {
        width: 75%;
    }    

    .listItem {
        font-size: 10pt;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 50%;
    }    

    .listItem {
        font-size: 10pt;
    }
}

/* Animações */
@keyframes alertAnimation {
    0%   {opacity: 100%}
    50%  {opacity: 50%}
    100% {opacity: 100%}   
}